{% extends 'base2.html' %}

{% load static from staticfiles %}

{% block css %}

	<style>
		.relleno-both-lateral-3{
			padding-left: 5em !important;
			padding-right: 0 !important;
		}
	</style>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block main %}

<header id="header-services">
	<img src="{% static 'img/portada.jpg' %}" width="100%" height="280px">
</header>
<section class="secciones" >
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center title-especial">
			
				<h1 class="font-size-3" >
					<strong>SERVICES<span class="color-texto-sunflower">.</span></strong>
				</h1>
				
			</div>
			<div class="col-md-12">
				<p class="margen-top-dos">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, minus. Exercitationem rerum commodi officia asperiores sed omnis, optio minima. Sit est voluptatem iste architecto, cum optio, ex eum error neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa laboriosam, omnis recusandae iure, rerum totam reprehenderit nam impedit iusto nihil distinctio. Sapiente deleniti voluptate inventore fugit debitis modi nulla reprehenderit.
				</p>
			</div>
		</div>
	
		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2 class="font-size-3">SERVICES OFFERED</h2>
			</div>

		</div>
		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-6">
						<p>Project Management</p>
						<p>Site Master Planning</p>
						<p>General Site Civil Engineering</p>
						<p>Structural Engineering</p>
						<p>Site/Land Development</p>
						<p>Roadway Design</p>
						<p>Drainage & Stormwater Systems</p>
						<p>Sanitary Sewer Systems</p>
						<p>Water Distribution Systems</p>
						<p>Pump Station Design</p>
					</div>
					<div class="col-md-6">
						<p>Lake Excavations / Land Fill</p>
						<p>Marine/Coastal Engineering</p>
						<p>Environmental Engineering</p>
						<p>Value & Cost Engineering</p>
						<p>Plans Processing & Permitting</p>
						<p>Educactional & School Board</p>
						<p>Due Diligence & Feasibility Reports</p>
						<p>Construction Administration</p>
						<p>Construction Inspection Services</p>
						<p>Design-Build Services</p>
					</div>
				</div>
			</div>
			
		</div>

		<div class="row margen-top-uno">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-6">
						<h5 class="text-center title-especial-2 margen-top-uno">AVIATION</h5>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis harum deleniti assumenda, fuga quis accusantium beatae delectus quidem sunt labore, pariatur, aut vero perferendis cupiditate qui id laboriosam inventore.
					</div>
					<div class="col-md-6">
						<h5 class="text-center title-especial-2 margen-top-uno">ROADWAY AND TRANSPORTATION</h5>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis harum deleniti assumenda, fuga quis accusantium beatae delectus quidem sunt labore, pariatur, aut vero perferendis cupiditate qui id laboriosam inventore.
					</div>
					<div class="col-md-6">
						<h5 class="text-center title-especial-2 margen-top-uno">ENVIRONMENTAL ENGINEERING STUDIES</h5>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis harum deleniti assumenda, fuga quis accusantium beatae delectus quidem sunt labore, pariatur, aut vero perferendis cupiditate qui id laboriosam inventore.
					</div>
					
					<div class="col-md-6">
						<h5 class="text-center title-especial-2 margen-top-uno">WATER SUPPLY AND WASTEWATER SYSTEMS</h5>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis harum deleniti assumenda, fuga quis accusantium beatae delectus quidem sunt labore, pariatur, aut vero perferendis cupiditate qui id laboriosam inventore.
					</div>
					<div class="col-md-6">
						<h5 class="text-center title-especial-2 margen-top-uno">STRUCTURAL ENGINEERING</h5>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis harum deleniti assumenda, fuga quis accusantium beatae delectus quidem sunt labore, pariatur, aut vero perferendis cupiditate qui id laboriosam inventore.
					</div>
					<div class="col-md-6">
						<h5 class="text-center title-especial-2 margen-top-uno">DRAINAGE SYSTEMS</h5>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis harum deleniti assumenda, fuga quis accusantium beatae delectus quidem sunt labore, pariatur, aut vero perferendis cupiditate qui id laboriosam inventore.
					</div>
					<div class="col-md-6">
						<h5 class="text-center title-especial-2 margen-top-uno">CONSTRUCTION PHASE SYSTEMS</h5>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis harum deleniti assumenda, fuga quis accusantium beatae delectus quidem sunt labore, pariatur, aut vero perferendis cupiditate qui id laboriosam inventore.
					</div>
					<div class="col-md-6">
						<h5 class="text-center title-especial-2 margen-top-uno">LAND DEVELOPMENT</h5>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis harum deleniti assumenda, fuga quis accusantium beatae delectus quidem sunt labore, pariatur, aut vero perferendis cupiditate qui id laboriosam inventore.
					</div>
				</div>
			</div>
		</div>

		<div class="row margen-top-dos">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="font-size-3">LICENSES AND CERTIFICATIONS</h2>
				<p>SRS Engineering, Inc. has received technical certifications from the following agencies:</p>
			</div>

		</div>

		<div class="row margen-top-dos">
			<div class="col-md-6">
				<div class="media">
				  <a class="pull-left" href="#">
				    <img src="{% static 'img/layer2.png' %}" width="64px" style="margin-top:2em">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><b>MIAMI-DADE COUNTY</b></h4>
				    <p>3.01 Highway Systems / Site Development and Parking Lot Design</p>
				    <p>3.02 Highway Systems / Highway Design</p>
				    <p>3.06 Highway Systems / Traffic Calming</p>
				    <p>3.09 Highway Systems / Signing, Pavement Marking and Channelization</p>
				    <p>4.01 Aviation Systems / Engineering Design</p>
				    <p>5.01 Port and Waterway Systems / Engineering Design</p>
				    <p>5.03 Port and Waterway Systems / Cruise Terminal Design</p>
				    <p>5.05 Port and Waterway Systems / Cargo Terminal Design</p>
				    <p>5.08 Port and Waterway Systems / Marine Engineering Design</p>
				    <p>6.01 Water and Sanitary Sewer Systems / Water Distribution / San. Sewage Collection/</p>
				    <p class="margen-top-uno">Transmission Systems</p>
				    <p>6.02 Water and Sanitary Sewer Systems / Water Distribution / Major Water and Sanitary Sewage Pumping Facilities</p>
				    <p>10.01 Enviromental Engineering / Stormwater Drainage Design Engineering Services</p>
				    <p>11.00 General Structural Engineering</p>
				    <p>16.00 General Civil Engineering</p>
				    <p>17.00 Engineering Construction Management</p>
				    <p>21.00 Land Use Planning</p>

				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="media">
				  <a class="pull-left" href="#">
				    <img src="{% static 'img/layer2.png' %}" width="64px" style="margin-top:2em">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><b>FLORIDA DEPARTMENT OF TRANSPORTATION</b></h4>
				    <p>3.1 Minor Highway Design</p>
				    <p>3.2 Major Highway Design</p>
				    <p>7.1 Signing, Pavement Marking and Channelization</p>
				    <p>10.1 Roadway Construction Engineering Inspection</p>
				    <p>10.3 Construction Materials Inspection</p>

				    <h4 class="media-heading margen-top-uno"><b>SMALL BUSINESS CERTIFICATIONS</b></h4>
				    <p>Minority Business Enterprise (MBE), Florida</p>
				    <p>Small Business Enterprise, SFWMD</p>
				    <p>CBE, Miami-Dade County</p>
				    <p>MBE, Miami-Dade county Public Schools</p>
				    <p>MBE, School Board of Broward County</p>
				    
				  </div>
				</div>
			</div>
		</div>

		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2 class="font-size-3">AWARDS</h2>
				
			</div>

		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="media">
				  <a class="pull-left" href="#">
				    <img src="{% static 'img/layer2.png' %}" width="64px">
				  </a>
				  <div class="media-body">
				    <p class="text-center">Latin Builders Association (LBA) Engineering Design Firm of the Year 2014</p>
				    
				  </div>
				</div>
				<div class="media">
				  <a class="pull-left" href="#">
				    <img src="{% static 'img/layer2.png' %}" width="64px">
				  </a>
				  <div class="media-body">
				    <p class="text-center">2003, 2006, 2008, 2011, & 2012 Top 100 Minority Businesses, Greater Miami Chamber of Commerce</p>
				    <p class="text-center margen-top-uno">2004, 2006, 2007, 2008, 2009 City of Hialeah Corporate Sponsorship Award</p>
				    
				  </div>
				</div>
				<div class="media">
				  <a class="pull-left" href="#">
				    <img src="{% static 'img/layer2.png' %}" width="64px">
				  </a>
				  <div class="media-body">
				    <p class="text-center">Inc. 500 America's Fastest-Growing Private Companies, Serralta Rebull Serig, Inc. was ranked #152</p>
				    
				  </div>
				</div>

			</div>
		</div>

	</div>
</section>

{% endblock %}