

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	font-family: 'Source Sans Pro', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
	padding: 0;
	margin: 0;
}

a:hover{
  text-decoration: none;
}

.a-null:hover{
  color: #f1c40f;
}

.relleno-both{
  padding: 0 5em;
}

.medio{
  margin-left: 3em;
  margin-right: 3em;
}

.cont-logo-super,
.cont-logo-derecho {
  padding: 0.5em 0;
  position: absolute;
}
.cont-logo-super {
  left: 0;
}
.cont-logo-derecho {
  right: 0;
}

.logoderecho{
	height: 34px;
	margin-left: 160px;
}

#footer{
  padding: 3em 0;
}

/* Navbar Customzado */
.navbar-default{
  background-color: #34495e;
  border-color: rgba(231, 231, 231, 0);
}
  
.navbar-default .navbar-nav li a{
  color: white;
}
  
.navbar-default .navbar-nav li a:hover{
  color: #f1c40f;
}

.navbar-default .navbar-nav li .activo{
  color: #f1c40f;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #2D2A2A;
}

.navbar-default .navbar-toggle {
border-color: #6F6D6D;
}

.navbar-default .navbar-brand{
  display: none;
}



/* ----------------- */

.bg-color-sunflower{
  background-color: #f1c40f;
}

.bg-color-clouds{
  background-color: #ecf0f1;
}

.title-especial{
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 5px;
}

.title-especial-2{
  font-weight: bold;
  font-size: 17px;
}

.font-size-4-3{

  font-size: 4.3em;
}

.font-size-3{

  font-size: 3em;
}

.font-size-2{
  font-size: 2em;
}

.secciones{
  padding: 2em 0;
}

.color-texto-sunflower{
  color: #f1c40f;
}

.margen-top-dos{
  margin-top: 2em;
}

  
.margen-top-uno{
  margin-top: 1em; 
}

.inner-both-uno{
  padding: 2em 2em;
}

#footer{
  background-color: #34495e;
}


/* Media Queries */
@media screen and (max-width: 768px){
  .relleno-both{
    padding: 0 2em;
  }
  
  .li-mobile:first-child{
    border-top: 0px;
  }

  .li-mobile{
    border-top: 1px solid #6F6D6D;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color: #6F6D6D;
   border-top: 1px solid #6F6D6D;
  }

  .navbar-default .navbar-brand{
    display: block;
    position: absolute;

  }

  .navbar-default .navbar-brand>img{
    position: absolute;
    left: 0;
    top: 8px;
    width: 350px;
  }

}

@media screen and (max-width: 480px){
  .navbar-default .navbar-brand>img{
    width: 250px;
  }

  .font-size-4-3{
    font-size: 2.8em;
  }

  .font-size-3{
    font-size: 2em;
  }

  #footer{
    padding: 1.5em 0;
  }


}
    

















