{% extends 'base2.html' %}

{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<style>
		.relleno-both-lateral-3{
			padding-left: 5em !important;
			padding-right: 0 !important;
		}
	</style>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block  main %}
<section id="principal-careers">
	<div class="container-srs">
		<div class="row">
			<div class="col-md-6" id="title-careers">
				<h1 class="font-size-4-3"><strong>CAREERS<span class="color-texto-sunflower">.</span></strong></h1>
			</div>
			<div class="col-md-6" id="cont-img-careers">
				<img src="{% static 'img/portada.jpg' %}" width="100%" height="175px">
			</div>
		</div>
	</div>
</section>

<section id="content-careers">
	<div class="container-srs">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center" id="subtitle-careers">
				<h2 class="font-size-3"><strong>LOOKING FOR NEW <span class="color-texto-sunflower">TALENT</span></strong></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="margen-top-dos text-justify">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, maiores. Ipsum pariatur, sint adipisci repellat doloribus et facere a quod repellendus ad laudantium beatae impedit soluta, dolorum reprehenderit ab quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias earum sapiente asperiores ratione, vero fugiat? Iure, perferendis? Voluptas, eum temporibus maxime hic beatae harum magnam, repellat fugiat odio saepe iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, sequi exercitationem molestias tempora, alias cupiditate obcaecati quia officiis libero ducimus, dolorum. Numquam adipisci, voluptatum veniam? Deleniti officiis, sapiente placeat expedita.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 margen-top-dos">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label class="col-sm-2 control-label">NOMBRE</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-2 control-label">APELLIDO</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-2 control-label">DIRECCIÓN</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-2 control-label">EMAIL</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-2 control-label">TELÉFONO</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button class="btn btn-default"><b>ENVIAR</b></button>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}