{% extends 'base2.html' %}

{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<style>
		.relleno-both-lateral-3{
			padding-left: 5em !important;
			padding-right: 0 !important;
		}
	</style>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block  main %}
<section id="principal-careers">
	<div class="container-srs">
		<div class="row">
			<div class="col-md-6 title-especial" id="title-careers">
				<h1 class="font-size-4-3"><strong>CONTACT	 US<span class="color-texto-sunflower">.</span></strong></h1>
			</div>
			<div class="col-md-6" id="cont-img-careers">
				<img src="{% static 'img/portada.jpg' %}" width="100%" height="175px">
			</div>
		</div>
	</div>
</section>

<section id="content-careers">
	<div class="container-srs">
		<!--<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center" id="subtitle-careers">
				<h2 class="font-size-3 title-especial"><strong>LOOKING FOR NEW <span class="color-texto-sunflower">TALENT</span></strong></h2>
			</div>
		</div>-->
		<div class="row">
			<div class="col-md-12">
				<p class="margen-top-dos text-justify">
					Get to know us! Learn our capabilities... experience the diversity in our team.  Are we the solution to your project? Do we have the answer to your problem? Want to collaborate with us? We look forward to meeting you!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 margen-top-dos">
				<form class="form-horizontal">
				  <div class="form-group">
				    <div class="col-sm-12">
				    	<label for="interest">I'm interested in*</label>
				    </div>
				    <div class="col-sm-12">
				      <input type="text" class="form-control" placeholder="Select interest">
				    </div>
				  </div>
				  <div class="form-group">
				    <!--<label for="firstname">First Name</label>-->
				    <div class="col-xs-6">
				    	<label for="interest">First Name</label>
				    </div>
				    <div class="col-xs-6">
				    	<label for="interest">Last Name</label>
				    </div>
				    <div class="col-xs-6">
				      <input type="text" class="form-control">
				    </div>
				    <div class="col-xs-6">
				      <input type="text" class="form-control">
				    </div>
				  </div>
				  <div class="form-group">
				    <!--<label for="firstname">First Name</label>-->
				    <div class="col-xs-6">
				    	<label for="emailaddress">Email address</label>
				    </div>
				    <div class="col-xs-6">
				    	<label for="telephone">Telephone</label>
				    </div>
				    <div class="col-xs-6">
				      <input type="text" class="form-control">
				    </div>
				    <div class="col-xs-6">
				      <input type="text" class="form-control">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-6">
				    	<label for="company">Company</label>
				    </div>
				    <div class="col-xs-6">
				    	<label for="address">Address</label>
				    </div>
				    <div class="col-xs-6">
				      <input type="text" class="form-control">
				    </div>
				    <div class="col-xs-6">
				      <input type="text" class="form-control">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-4">
				    	<label for="city">City*</label>
				    </div>
				    <div class="col-xs-4">
				    	<label for="state">State</label>
				    </div>
				    <div class="col-xs-4">
				    	<label for="country">Country</label>
				    </div>
				    <div class="col-xs-4">
				      <input type="text" class="form-control">
				    </div>
				    <div class="col-xs-4">
				      <input type="text" class="form-control">
				    </div>
				    <div class="col-xs-4">
				      <input type="text" class="form-control">
				    </div>
				  </div>
				  <div class="form-group">
				  	<div class="col-xs-12">
				    	<label for="Learn">How did you learn about our site?</label>
					</div>
				    <div class="col-xs-12">
				      <textarea class="form-control" rows="3"></textarea>
				    </div>
				  </div>
				  <div class="form-group">
				  	<div class="col-xs-12">
				    	<label for="comments">Comments / Questions*</label>
				    </div>
				    <div class="col-xs-12">
				      <textarea class="form-control" rows="3"></textarea>
				    </div>
				  </div>					  		  
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button class="btn btn-customize btn-default btn-default-customize"><b>ENVIAR</b></button>
				    </div>
				  </div>

				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}