{% extends 'base2.html' %}

{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<style>
		.relleno-both-lateral-3{
			padding-left: 5em !important;
			padding-right: 0 !important;
		}
	</style>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>	
{% endblock %}

{% block main %}

<header id="header-portada">
	
</header>

<section>
	<div class="container">
		<div class="row margen-top-dos">
			<div class="col-md-6 col-md-offset-3 text-center title-especial">
				<p class="text-center">
					<h1 class="font-size-3" >
						<strong>EXPERTISE<span class="color-texto-sunflower">.</span></strong>
					</h1>
				</p>
			</div>
			<div class="col-md-12">
				<p class="margen-top-uno text-justify">
					The only thing that trumps knowledge is experience. The SRS Engineering management team combined represents over 70 years of civil engineering experience.  In addition to 20 years operational field experience, the Network is in place to provide exceptional innovative solutions to its clients.  Solutions that result in successful and efficiently completed projects.
				</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row margen-top-dos">
			<div class="col-md-6">
				<img src="{% static 'img/layer1.png' %}" width="100%" height="350px" class="img-responsive">
				<h1 class=" text-center margen-top-uno margen-responsive"><a href="/services" class="color-texto-sunflower a-null ">SERVICES</a></h1>
				<p class="text-justify margen-top-uno">
					{% if text_services %}
						{% for text in text_services %}
							{{text.contenido}}
						{% endfor %}
					{% else %}
						<div class="alert alert-warning text-center" role="alert">
							<b>Empty text for Services!</b> - <a href="/admin">Add text.</a>
						</div>
					
					{% endif %}
				</p>
				<div class="lista margen-top-uno text-center list-responsive">
					
						<p>SERVICES OFFERED</p>
						<p>LICENSES AND CERTIFICATIONS</p>
						<p>AWARDS</p>
					
				</div>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/layer6.png' %}" width="100%" height="350px" class="img-responsive">
				<h1 class="color-texto-sunflower text-center margen-top-uno margen-responsive">PROJECTS</h1>
				<p class="text-justify margen-top-uno">
					{% if text_projects %}
						{% for text in text_projects %}
							{{text.contenido}}
						{% endfor %}
					{% else %}
						<div class="alert alert-warning text-center" role="alert">
							<b>Empty text for Projects!</b> - <a href="/admin">Add text.</a>
						</div>
					{% endif %}
				</p>
				<div class="lista margen-top-uno text-center list-responsive">
						{% if projects %}
							{% for project in projects %}
								<p>{{project.nombre_proyecto}}</p>
							{% endfor %}
						{% else %}
							<div class="alert alert-warning text-center" role="alert">
								<b>Empty list of Projects!</b> - <a href="/admin">Add Projects.</a>
							</div>
						
						{% endif %}
						
					
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}