{% extends 'base.html' %}

{% load static from staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<style type="text/css">
		.banner { position: relative; overflow: auto; }
    	.banner li { list-style: none; }
        .banner ul li { float: left; }
        .banner ul {
        	padding: 0;
        	margin: 0 0px;
        }
	</style>
{% endblock %}

{% block main %}
<header id="header-slider">
	<img src="{% static 'img/main-foto.jpg' %}" width="100%" height="575px">

	<div id="subheader">
		<div id="subheader-true">
			<div class="row">
				<div class="col-md-5" id="logo">
					<img src="{% static 'img/logo-b.png' %}" alt="">
				</div>
				<div class="col-md-5">
					<div id="name" class="color-texto-blanco">
						<h2>HIGHER STANDARDS IN ENGINEERING</h2>
						<h4>FULL SERVICE CIVIL ENGINEERING CONSULTING FIRM</h4>
					</div>
					
				</div>
				<div class="col-md-2 bg-color-sunflower" id="adorno">
					
				</div>
			</div>
		</div>
	</div>
</header>

<section id="slider-principal">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="margen-bottom-medio">KEY PROJECTS</h1>
			</div>
		</div>
	</div>
	<div class="slider-principal-true">
		{% if proyectos %}
		<div class="banner">

			<ul>
			    <li>
			    	
			    	{% for proyecto in proyectos %}

			    		<div class="col-md-3 relleno-lateral-p">
			    			<figure>
					        	<img src="{{MEDIA_URL}}{{proyecto.imagen}}" width="100%" class="img-slider">
					        </figure>
			        		<p class="color-texto-sunflower">
					        	<b>{{proyecto.nombre_proyecto}}</b>
					        </p>
						</div>
					
			    	{% if forloop.counter|divisibleby:4 %}
					
			    </li>
			    <li>
			    {% endif %}

			    {% endfor %}
			    </li>
			</ul>
			        			
		</div>

	</div>
	<div class="contenedor-arrow">
			<button href="#" class="unslider-arrow prev"><span class="icon-arrow-left"></span></button>
			<button href="#" class="unslider-arrow next"><span class="icon-uniE601"></span></button>
		</div>

	{% else %}
		<div class="alert alert-warning text-center" role="alert">
			<b>Empty list of Key Projects!</b> - <a href="/admin">Add Projects.</a>
		</div>

	{% endif %}

	
</section>
	

{% endblock %}

{% block js %}

<script src="{% static 'js/vendor/unslider.min.js' %}"></script>
<script type="text/javascript">
	
	$(function() {
	    var unslider = $('.banner').unslider();
    
	    $('.unslider-arrow').click(function() {
	        var fn = this.className.split(' ')[1];
	        
	        //  Either do unslider.data('unslider').next() or .prev() depending on the className
	        unslider.data('unslider')[fn]();
	    });
	});

</script>

{% endblock %}