.font-size-4-3
	font-size 4.3em

.font-size-3
	font-size 3em
	
#title-team, 
#title-about, 
#title-expertise,
#title-careers,
#subtitle-careers
	font-family 'Fjalla One', sans-serif
	letter-spacing 5px