

.thumbnail
	border 0px
	
.control-label
	text-align left !important
	
.form-control
	height 34px
	background-color rgba(52, 73, 94, 0.2)
	border 1px solid #34495e;
	border-radius 0px

.btn-customize
	border-radius 0px
	padding 2px 16px
	margin-left 7em
	font-size 16px
	letter-spacing 1px
	
.btn-default-customize
	background-color #f1c40f
	border 0
