.navbar-default
	background-color #34495e
	border-color rgba(231, 231, 231, 0)
	
	.navbar-nav li a
		color white
		
	.navbar-nav li a:hover
		color #f1c40f

.thumbnail
	border 0px
	
.control-label
	text-align left !important
	
.form-control
	height 34px
	background-color rgba(52, 73, 94, 0.2)
	border 1px solid #34495e;
	border-radius 0px

.btn
	border-radius 0px
	padding 2px 16px
	margin-left 7em
	
.btn-default
	background-color #f1c40f
	border 0
