

.relleno-both-lateral-3
	padding-right 3em
	padding-left 3em
	
.margen-bottom-medio
	margin-bottom 0.5em
	
.margen-top-medio
	margin-top 0.5em
	
.margen-top-uno
	margin-top 1em

.margen-top-dos
	margin-top 2em

#header-slider
	height 600px
	
	#subheader
		height 115px
		background-color rgba(52, 73, 94, 0.87)
		position absolute
		z-index 1
		top 510px
		box-sizing border-box
		left 0
		right 0
		padding 1.7em 0
		
		#subheader-true
			width 100%

#adorno,
#logo
	height 67px


	
#name
	width 100%
	padding 0.5em 1em
	box-sizing border-box
	
	h4
		letter-spacing 1.5px

.relleno-lateral-p
	padding 0 3px

.relleno-lateral-q
	padding 0 1em
	
.contenedor-arrow
	position relative
	z-index 2
	left 0
	right 0
	top -185px
	
	.prev
		float left
	
	.next
		float right
	
.img-slider
	height 200px	
	
.container-srs
	width 76%
	margin 0 auto
	
#principal-group
	padding 3em 0
	
#cont-team,
#title-team
	height 200px
	border-bottom 1px solid #D9DADA
	padding-top 2em
	
#cont-team
	border-left 1px solid #D9DADA
	padding-left 3em
	

#about
	border-top 1px solid #d9dada
	
#about-cont
	
	#about
		padding 3em 0