.color-texto-blanco
	color #fff
	
.slider-principal-true
	background-color #ecf0f1
	padding 2.5em
	
.unslider-arrow
	border 0
	background-color #f1c40f
	height 60px
	width 30px
	
	span 
		font-weight bold
		color #fff
		font-size 1.5em
		
