{% extends 'base2.html' %}

{% load static from staticfiles %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/sectors.css' %}">
<style>
	.relleno-both-lateral-3{
		padding-left: 5em !important;
		padding-right: 0 !important;
	}
</style>
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

{% endblock %}

{% block main %}

	<header id="header-detalle-sector">
		
	</header>

	<section class="secciones">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center title-especial">
					
					<h1 class="font-size-3 mayuscula">
						<strong>{{object.nombre_sector}}<span class="color-texto-sunflower">.</span></strong>
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p>
						{{object.descripcion}}
					</p>
				</div>
			</div>

			{% for proyecto in object.proyectos.all %}
			<div class="row margen-top-dos">
				<div class="col-md-12">
					<p class="color-texto-sunflower font-size-2">{{proyecto.nombre_proyecto}}</p>
					<h3>{{proyecto.contenido_proyecto}}</h3>
					<div class="row margen-top-uno ">
						<div class="col-md-5" >
							<img src="{% static 'img/sectors.png' %}" class="img-proyecto" width="100%" height="">
						</div>
						<div class="col-md-7 bg-color-clouds inner-both-uno detalle-proyecto">
							<div class="row ">
								<div class="col-md-12">
									<h4 class="color-texto-sunflower">NAME OF PROJECT</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quod corrupti animi nisi veniam accusamus, ducimus blanditiis saepe voluptatibus ipsam quam perspiciatis .</p>
								</div>
							</div>
							<div class="row margen-top-uno">
								<div class="col-md-12">
									<h4 class="color-texto-sunflower">LOCATION</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								</div>
							</div>
							<div class="row margen-top-uno">
								<div class="col-md-12">
									<h4 class="color-texto-sunflower">TOTAL VALUE</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								</div>
							</div>
							<div class="row margen-top-uno">
								<div class="col-md-12">
									<h4 class="color-texto-sunflower">CONSTRUCTION PERIOD</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>

		
			
			
	
	</section>
		
		
	

{% endblock %}

{% block js %}

<script>
	$(document).ready(function(){
		var altura = $('.detalle-proyecto').height();
		$('.img-proyecto').attr('height', altura+56);
	});
	
</script>

{% endblock %}
