.relleno-both-lateral-3 {
  padding-right: 3em;
  padding-left: 3em;
}
.margen-bottom-medio {
  margin-bottom: 0.5em;
}
.margen-top-medio {
  margin-top: 0.5em;
}
#header-slider {
  height: 600px;
}
#header-slider #subheader {
  height: 115px;
  background-color: rgba(52,73,94,0.87);
  position: absolute;
  z-index: 1;
  top: 510px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  padding: 1.7em 0;
}
#header-slider #subheader #subheader-true {
  width: 100%;
}
#adorno,
#logo {
  height: 67px;
}
#name {
  width: 100%;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
#name h4 {
  letter-spacing: 1.5px;
}
.relleno-lateral-p {
  padding: 0 3px;
}
.relleno-lateral-q {
  padding: 0 1em;
}
.contenedor-arrow {
  position: relative;
  z-index: 2;
  left: 0;
  right: 0;
  top: -185px;
}
.contenedor-arrow .prev {
  float: left;
}
.contenedor-arrow .next {
  float: right;
}
.img-slider {
  height: 200px;
}
.container-srs {
  width: 76%;
  margin: 0 auto;
}
#principal-group,
#principal-careers {
  padding: 3em 0;
}
#cont-team,
#title-team {
  padding-top: 2em;
}
#cont-team {
  border-left: 1px solid #d9dada;
  padding-left: 3em;
}
#cont-img-careers {
  border-left: 1px solid #d9dada;
}
#cont-img-careers,
#title-careers,
#title-team,
#cont-team {
  height: 200px;
  border-bottom: 1px solid #d9dada;
}
#title-careers {
  padding-top: 4em;
}
#cont-img-careers {
  padding-left: 2em;
}
#about {
  border-top: 1px solid #d9dada;
}
#about-cont #about {
  padding: 3em 0;
}
.color-texto-silver {
  color: #9ca2a6;
}
.color-texto-blanco {
  color: #fff;
}
.slider-principal-true{
  background-color: #ecf0f1;
  padding: 2.5em;
  overflow: hidden;
  height: auto;
}
.unslider-arrow {
  border: 0;
  background-color: #f1c40f;
  height: 60px;
  width: 30px;
}
.unslider-arrow span {
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
}
#header-portada {
  background: url("../img/expertise.png") center no-repeat;
  background-size: cover;
  height: 280px;
}
.thumbnail {
  border: 0px;
}
.control-label {
  text-align: left !important;
}
.form-control {
  height: 34px;
  background-color: rgba(52,73,94,0.2);
  border: 1px solid #34495e;
  border-radius: 0px;
}
.btn-customize {
  border-radius: 0px;
  padding: 2px 16px;
  margin-left: 7em;
  font-size: 16px;
  letter-spacing: 1px;
}
.btn-default-customize {
  background-color: #f1c40f;
  border: 0;
}

/* Media Queries home */
@media screen and (min-width: 768px){
  .contenedor-proyectos-true{
    display: none;
  }
}

@media screen and (max-width: 768px){

  #adorno, #logo{
    display: none;
  }

  #header-slider #subheader{
    top: 335px;
  }

  .imagen-responsiva{
    height: 450px;
  }

  .slider-principal-true, .contenedor-arrow{
    display: none;
  }

  .contenedor-proyectos-true{
    padding-right: 1em;
    padding-left: 1em;
  }

  .nombre-proyecto-key{
    text-align: center;
    font-size: 1.2em;
  }

  #title-team, #cont-team{
    height: auto;
  }

  #title-team{
    padding-top: 0;
    border-bottom: 0;
  }

  #cont-team{
    padding-top: 1em;
    border-left: 0px;
    padding-left: 15px;
    text-align: justify;
    padding-bottom: 1em;
    border-bottom: 1px solid #d9dada;
  }

  #principal-group{
    padding-top: 3em;
    padding-bottom: 1.5em;
  }

  #about-cont #about{
    padding-top: 1.5em;
  }

  #title-about{
    padding-bottom: 1em;
  }

  .margen-top-dos{
    margin-top: 1em;
  }

  .just-responsive{
    text-align: justify;
  }

}

@media screen and (max-width: 480px){
  .imagen-responsiva{
    height: 200px;
  }

  #header-slider #subheader{
    top: 250px;
    height: 150px;
    background-color: #34495e;
  }

  .titulo-responsive{
    text-align: center;
  }

  .titulo-responsive>h4{
    font-size: 0.8em;
    margin-top: 1em;
  }

  #header-slider{
    height: 360px;
  }

  .key{
    font-size: 1.5em;
    text-align: center;
  }

  .col-xs-6{
    width: 100%;
  }

  #header-portada{
    height: 150px;
  }

  .list-responsive{
    margin-bottom: 1.2em;
  }

  .margen-responsive{
    margin-top: 0.5em
  }
  
}
